<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      input[type='file'] {
        display: none;
      }
      img {
        margin: 5px;
      }

      #image:hover {
        border: 1px solid blue;
        cursor: pointer;
      }
      .back-button {
          width: 100%; position: fixed; bottom: 0; left: 0; background-color: teal; color: white; margin: 0px;
      }
      .back-button:hover {
          background-color: grey;
      }
    </style>

</head>
<body>

<h1>Monster Game</h1>

<h3>A simple monster game created with Vue.js</h3>

<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>

            <div v-if="!image">
              <label for="file-upload" class="file-upload"><img src="images/placeholder.png" style="max-height: 100px;" id="image" /></label>
              <input id="file-upload" type="file" @change="onFileChange" />

            </div>
            <div v-else>
              <img :src="image" style="max-height: 100px;" />
              <!-- <button @click="removeImage" style="font-size: 16px; border: none; background-color: transparent; box-shadow: none;">Remove</button> -->
            </div>

            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: playerHealth + '%'}">
                    {{ playerHealth }}
                </div>
            </div>

        </div>
        <div class="small-6 columns">
            <h1 class="text-center">IT</h1>

            <img src="images/monster.png" style="max-height: 100px;" />

            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width: monsterHealth + '%'}">
                    {{ monsterHealth }}
                </div>
            </div>

        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startGame">NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack">ATTACK</button>
            <button id="special-attack" @click="specialAttack">SPECIAL ATTACK</button>
            <button id="heal" @click="heal">HEAL</button>
            <button id="give-up" @click="giveUp">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns"
                    :class="{'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer}">
                    {{ turn.text }}
                </li>
            </ul>
        </div>
    </section>
</div>

<button class="back-button" onclick="window.close()">Close</button>

<script src="app.js"></script>


</body>
</html>
